# Application
APP_NAME=green-gorilla-trails-be
APP_PORT=3000
NODE_ENV=development

# Database - MySQL
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=green-gorilla-trails-be
DB_USERNAME=root
DB_PASSWORD=root_password_123



# Redis
REDIS_HOST=localhost
REDIS_PORT=6380


# JWT
JWT_SECRET=your-secret-key-here-change-in-production
JWT_EXPIRES_IN=7d

# API
API_PREFIX=api
API_VERSION=1