# Testing Environment
APP_NAME=green-gorilla-trails-be
NODE_ENV=testing

# Test Database - MySQL
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=green-gorilla-trails-be_test
DB_USERNAME=root
DB_PASSWORD=root_password_123


# Test Redis
REDIS_HOST=localhost
REDIS_PORT=6380

# JWT for testing
JWT_SECRET=test-secret-key
JWT_EXPIRES_IN=1d

# API
API_PREFIX=api
API_VERSION=1